.side-menu {
    background: #2D2E2E;
    height: 100%;
    width: 210px;
    position: fixed;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li a {
    color: #fff;
    padding: 15px;
    display: block;
}

.side-menu ul li a i{
    vertical-align: middle;
}


.side-menu ul li a span{
    vertical-align: middle;
    padding-left: 3%;
}

.side-menu ul li .activated {
    background-color: #00a8ff;
}

.side-menu ul li a img{
    vertical-align: middle;
    width: 40px;
}

.side-menu ul li a #logotext{
    vertical-align: middle;
    white-space: pre;
    font-size: 120%;
}

.side-menu ul li #exit{
    position: absolute;
    bottom: 10px;
    width:210px;
}

.side-menu ul li #settings{
    position: absolute;
    bottom: 60px;
    width:210px;
}

@media (max-width: 500px) {
    span {
      display: none;
    }

    .side-menu {
        background: #2D2E2E;
        height: 100%;
        width: 60px;
        position: fixed;
    }

    .side-menu ul li a img{
        vertical-align: middle;
        width: 25px;
    }
    
    .side-menu ul li a #logotext{
        display: none;
    }

  }