<section>
  <div class="side-menu">
    <ul>
      <li>
        <a routerLink="/welcome" class="logolink">
          <img src="assets/main_logo.png">
          <span id="logotext">TimeToGame</span>
        </a>
      </li>

      <li>
        <a routerLink=''>
          <i class="material-icons">account_box</i> <span class="linktext">Моя страница</span>
        </a>
      </li>

      <li>
        <a routerLink='/message/new'>
          <i class="material-icons">message</i> <span class="linktext">Сообщения</span>
        </a>
      </li>

      <li>
        <a routerLink=''>
          <i class="material-icons">person_add</i> <span class="linktext">Друзья</span>
        </a>
      </li>

      <li>
        <a routerLink=''>
          <i class="material-icons">note</i> <span class="linktext">Дневник</span>
        </a>
      </li>

      <li>
        <a routerLink=''>
          <i class="material-icons">event_note</i> <span class="linktext">Задачи и события</span>
        </a>
      </li>

      <li>
        <a routerLink=''>
          <i class="material-icons">videogame_asset</i> <span class="linktext">Бибилиотека</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/review', currentNickname]">
          <i class="material-icons">rate_review</i> <span class="linktext">Обзоры</span>
        </a>
      </li>
      <li>
        <a routerLink='' id="settings">
          <i class="material-icons">settings</i> <span class="linktext">Настройки</span>
        </a>
      </li>


      <li>
        <a (click)="logout()" id="exit">
          <i class="material-icons">exit_to_app</i> <span class="linktext">Выход</span>
        </a>
      </li>

    </ul>
  </div>
  <div id="outlet" class="page-content">
    <router-outlet></router-outlet>
  </div>
</section>