 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
  color: black;
  margin: 0 auto;
}

	.input-field input[type=date]:focus + label,
	.input-field input[type=text]:focus + label,
	.input-field input[type=email]:focus + label,
	.input-field input[type=password]:focus + label {
  		color: orange!important;
}

	.input-field input[type=date]:focus,
	.input-field input[type=text]:focus,
	.input-field input[type=email]:focus,
	.input-field input[type=password]:focus {
  		border-bottom: 2px solid orange!important;
  		box-shadow: 0px 1px 0px orange!important;
}

ul,li{
	list-style: none;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: black!important;
}


header{
	background: orange;
	margin-top: -40px;
}

header h1 a{
	display: inline-block;
	float: left;
	padding: 20px;
}

header .nav{
	display: inline-block;
	float: right;
	display: inline-block;
		margin-top: 25px;

}

.logo{
	font-size: 44px;
}

.nav li{
	display: inline-block;
	font-size: 18px;
		padding: 20px;
}
.loginform{
	padding-top: 50px;
}


.waves-effect{
	background: orange!important;
}