<h4>Список всех доступных игр:</h4>

<ul>
  <li *ngFor="let game of gameResponse.games">
    <span class="head">
      <span class="msginfo">
      </span>
      <a> {{game.gameName}}</a>
      <span class="date">дата выхода: {{game.gameDate}}</span>
    </span>
    <br class="brrr">
    <span class="msgbody">
      <span class="msginfo">
        Описание:
      </span>
      <br>
      <span class="msgtext">
        {{game.gameDesc}}
      </span>
    </span>
    <a (click)="addToLib(game.gameId)" class="button">В библиотеку</a>
  </li>
</ul>