nav {
    background-color: rgb(66, 66, 66);
    min-width: 315px;
}

nav a, nav span {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover {
    background-color: rgb(136, 0, 248);
    
}

#nickname{
    font:bold;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(45, 0, 248);
    font-size: 120%;
}

@media (max-width: 500px) {
    nav a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 93%;
    }
}