<h4> Hello, dear {{currentNickname}}</h4>
<h1>Я ВСЕЙ СВОЙ ДУШОЙ НЕНАВИЖУ АНГУЛЯР</h1>
<p>А если серьезно, я не понимаю почему тут просто все работает дерьмово. То падает сервер ангуляра, то просто перестает работать гласфиш, то отрубает постгрю, то начинает парад 404 с паяры. а да гласфиш то вообще не работает, там просто нельзя например установить свои jdbc ресурсы. Мне реально после таких заданий хочется разбить ноутбук и перестать делать хоть что-то, связанное с разработкой.</p>
Я устал. Еще эта ситуация с роутингом. лучше не вспоминать.
ВОТ ПОЧЕМУ ПАЙАРА ПРОСТО КИДАЕТ 404 НА ЛЮБЛЙ ЗАПРОС??????????? 
БЛЯЬБ БЛЯЬБЯ БЯЛЧСЯЛСБЯЧЛЛБЯБЯЯЧЛБЛЯЧБСЯЧЛСБЯЛЧБСЛЧЯСБЯЧСБЯЧБСБЛЯЧСБЛЧЯСБЯББЛЯ
