body{
    background: rgb(190, 190, 255);
}

app-site-layout section div {
    display: grid;
    grid-template-columns: 210px auto;
}

@media (max-width: 500px) {
    app-site-layout section div {
        display: grid;
        grid-template-columns: 60px auto;
    }    
  }