.profile-info {
    margin: 10%;
    margin-top: 3%;
    margin-left: 20%;
    display: inline-block;
    padding: 32px 48px 32px 48px;
    border: 1px solid #EEE;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60%;
}
.button {
    background-color: rgb(125, 125, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.prfl-nickname{
    font-size: 200%;
    color: blueviolet;
}
.prfl-id{
    color: rgb(118, 70, 163);
    font-size: 150%;
}

.prfl-info{
    font-size: 140%;
}

.from-response{
    color: red;
}

@media (max-width: 500px) {
    .profile-info {
        margin: 0px;
        padding: 7%;
        width : 100%;
        font-size: 110%;
    }
    .prfl-info{
        font-size: 100%;
    }
}