h4, ul, li {
    padding: 30px 50px;
}

h4 {
    margin-left: 2%;
}

ul {
    list-style-type: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 8px;
}

ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: #00a8ff;
}

.accept {
    margin-left: 60%;
    background-color: rgb(83, 255, 83);
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.decline {
    background-color: rgb(125, 125, 255);
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}